services:
  backend:
    build:
      context: ./backend/tqs
      dockerfile: Dockerfile
    container_name: tqs-backend
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      # - APP_ADMIN_PASSWORD=adminPass1
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_BASE_URL: ""
    container_name: tqs-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    restart: unless-stopped
